In [1]:
#Define the function "say_hello" so it prints "Hello!" when called

In [2]:
def say_hello():
    print("Hello!")

In [3]:
#Call the function

In [4]:
say_hello()

Hello!

In [5]:
# Define the function "say_something" so it prints whatever is passed as the variable when called.

In [6]:
def say_something(something):
    print(something)

In [7]:
#Call the function

In [8]:
say_something("Hello World")

Hello World

In [9]:
# A list of my grades.

In [10]:
my_grades = ['B', 'C', 'B' , 'D']

In [11]:
# Import pandas.

In [12]:
import pandas as pd

In [13]:
# Convert the my_grades to a Series

In [15]:
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [16]:
# Change the grades by one letter grade.

In [17]:
my_grades.map({'B': 'A', 'C': 'B', 'D': 'C'})

0    A
1    B
2    A
3    C
dtype: object

In [18]:
# Using the format() function.

In [20]:
my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print("{:.0f}".format(grade))

92
85
87
98

In [21]:
# Convert the numerical grades to a Series.

In [22]:
my_grades = pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades

0    92.34
1    84.56
2    86.78
3    78.32
dtype: float64

In [23]:
# Format the grades to the nearest whole number percent.

In [24]:
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    78
dtype: object